body{
  background:#F6F6F6;
  color:#666666;
}
.content a:link, 
.content a:visited,
.entry-summary a:link, 
.entry-summary a:visited,
.entry-meta a:link, 
.entry-meta a:visited,
.content h3,
.entry-summary h3{
  color:#FCC242;
}
.name-slogan,
.name-slogan a,
.main .title,
.main .title a {
  color:#232323;
}
.menu-bar > .inner,
.menu-bar .block-menu ul ul,
.menu-bar .main-menu ul,
.menu-bar .menu ul ul{
  background:#FCC242;
  color:#FFFFFF;
}
.menu-bar .current-menu-item > a{
  color:#FCC242;
}
.header-bar .menu,
.header-bar .sub-menu,
.main aside .block,
.main aside .widget{
  background:#FFE755;
  color:#232323;
}
.header-bar a,
.main aside a{
  color:#232323;
}
.main aside li + li{
  border-top:1px solid;
  border-color:#666666;
}
button,
input,
select,
textarea {
	background-color: #F6F6F6;
}
button:hover,
button:focus,
input[type="submit"]:focus,
input[type="submit"]:hover{
	background-color: #FFFFFF;
}
input,
textarea {
	color: #666666;
}
.post-password-form label {
	color: #666666;
}

